<!-- Dinamic Package Container -->
<div  class="m-5 mb-3">
    <div class="container-fluid my-3" *ngFor="let item of orders" id="{{item.orderID}} ">
      <div class="row justify-content-center">
        <div class="col-11">
          <div class="card align-middle" > 
            <h4 class="card-header text-dark" [ngClass]="item.orderStatus == '5' ? 'bg-danger-subtle' : item.orderStatus =='4' ? 'bg-success-subtle' : 'bg-muted' " ><span class="float-start">Kırtasiye: {{item.companyName}}</span><span class="float-end">Teslimat Durumu: 
                {{(item.orderStatus) == "1" ? "Onay Bekliyor" : 
                (item.orderStatus) == "2" ? "Hazırlanıyor" : 
                (item.orderStatus) == "3" ? "Hazır" : 
                (item.orderStatus) == "4" ? "Teslim Edildi" : "İptal Edildi"}}</span> </h4>
            <div class="card-body">
                <div class="accordion accordion-flush" id="accordionProduct">
                    <div class="accordion-item"  *ngFor="let product of item.orderItems; let i = index" id="{{item.orderID + '-' + i}}">
                      <h2 class="accordion-header" id="{{item.orderID + '-heading-' + i}}">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#flush-collapse-' + item.orderID + '-' + i"
                          aria-expanded="false"
                          [attr.aria-controls]="'flush-collapse-' + item.orderID + '-' + i"
                        >
                          {{product.fileTitle}}
                        </button>
                      </h2>
                      <div
                        id="flush-collapse-{{item.orderID + '-' + i}}"
                        class="accordion-collapse collapse"
                        [attr.aria-labelledby]="item.orderID + '-heading-' + i"
                        data-bs-parent="#accordionProduct"
                      >
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col float-start">
                                    <h5>Dosya Özellikleri</h5>
                                    <span><b>Dosya Başlığı: </b>{{product.fileTitle}}</span><br>
                                    <span><b>Dosya Notu: </b>{{product.fileNote}}</span><br>
                                    <span><b>Sayfa Sayısı: </b>{{product.fileNumberOfFile}}</span><br>
                                    <span><b>Adet: </b>{{product.quantity}}</span>
                                </div>
                                <div class="col float-end">
                                    <h5>Yazdırma Özellikleri</h5>
                                    <span><b>Renk Seçeneği: </b>{{product.packageColorMode}}</span><br>
                                    <span><b>Baskı Seçeneği: </b>{{product.packageDuplexMode}}</span><br>
                                    <span><b>Kağıt Boyu: </b>{{product.packagePageSize}}</span><br>
                                    <span><b>Kağıt Türü: </b>{{product.packagePaperType}}</span><br>
                                    <span><b>Bir Yüzdeki Sayfa Sayısı: </b>{{product.packageSheetsPerPage}}</span><br>
                                </div>
                            </div>
                            <div class="row float-end">
                                <div class="col h5"><b >Ürün Fiyatı: </b>{{product.price}}₺</div>
                            </div><br>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
            <div class="card-footer text-muted" [ngClass]="item.orderStatus == '5' ? 'bg-danger-subtle' : item.orderStatus =='4' ? 'bg-success-subtle' : 'bg-muted' ">
              <div class="row float-start">
                <b class="text-dark">Toplam Ücret: {{item.price}}₺</b>
              </div>
              <div class="row float-end">
                <div class="col ms-2"><b>Sipariş Tarihi: {{item.createdDate}}</b></div>
              </div>
              <div class="row float-end">
                <div class="col " *ngIf="item.deliveryDate && item.orderStatus == '4'"><b>Teslim Edilme Tarihi:</b> {{item.deliveryDate}}</div>
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>